::-webkit-scrollbar {
    display: none;
}

header {
    background-color: #ffffff;
    padding: 1px;
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 100%;
    height: 20%;
}

.background-header {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
}

#header_social_media {
    display: flex;
    margin-left: auto;
    gap: 2rem;
    padding: 20px 20px 20px 20px;
    width: fit-content;
  } 
  
  #header_social_media .header-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
  }
  
  #header_social_media .header-link i {
    font-size: 1.25rem;    
  }
  
  #header_social_media .header-link:hover {
    opacity: 0.8;
  }
  
  #instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  }
  
  #youtube {
    background-color: #ff0000;
  }
  
  .header-link {
    text-decoration: none;
  }

  :root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-40: #f5f5f5;
  }

  nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    font-size: 17px;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;    
    background-color: rgba(66, 6, 6, 0.205);
  }

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    text-align: center;
    margin: 30px auto 30px auto;    
    padding: 10px 5px 10px 5px;
    width: 70%; 
    background-color: rgba(255, 255, 255, 0.658);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.videos {
    display: flex;
    max-width: 90%;
}

.youtube {
    width: 1280px;
    height: 720px;
    flex-direction: row;
    max-width: 90%;
    margin: 10px;
    height: fit-content;
    aspect-ratio: 16 / 9;
    border: 5px solid rgba(255, 255, 255, 0.658);
}

.footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

.contact-info,
.social-media,
.contact-form {
    margin: 20px;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    color: brown;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: white;
    color: black;
}

.contact-form button {
    background-color: brown;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: brown;
}





@media (max-width: 1020px) {

    

    header {
        background-color: #ffffff;
        padding: 1px;
        position: fixed;
        top: 0;
        z-index: 1000;
        left: 0;
        width: 100%;
        height: fit-content;
    }
    
    .background-header {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #header_social_media {
        display: flex;
        margin-left: auto;
        gap: 1rem;
        padding: 13% 20px 20px 20px;
        width: fit-content;
      } 
      
      #header_social_media .header-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.7rem;
        width: 1.7rem;
        color: var(--color-neutral-40);
        border-radius: 50%;
        transition: all 0.4s;
      }

      #header_social_media .header-link i {
        font-size: 1rem;    
      }

    nav {
        position: absolute;
        width: 100%;
        bottom: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
        font-size: 13px;
        list-style-type: none;
        display: flex;
        justify-content: space-around;    
        background-color: rgba(66, 6, 6, 0.205);
      }
    
    nav a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
    
    .content {
        display: flex;
        flex-wrap: wrap;
        margin: 30px auto 30px auto;
        width: 90%;   
        background-color: rgba(255, 255, 255, 0.603);
        text-align: justify;
        font-size: 15px;
        color: black;
        padding: 10px 5px 10px 10px;
        margin: auto;
    }

    .videos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        max-width: 90%;        
        margin-top: 20vh;
        display: flex;
        max-width: 90%;
    }
    
    .youtube {
        width: 550px;
        height: 309px;
        flex-direction: column;
        max-width: 90%;
        margin: 10px;
        height: fit-content;
        aspect-ratio: 16 / 9;
        border: 5px solid rgba(255, 255, 255, 0.658);
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        background-color: black;
        color: white;
        padding: 10px;
        text-align: center;
    }
    
    .footer h2 {
        font-size: 15px;
    }
    
    .contact-info,
    .social-media,
    .contact-form {
        margin: 20px;
        display: block;
        text-align: left;
        font-size: 14px;
        color: brown;
    }
    
    .contact-form input,
    .contact-form textarea {
        width: 90%;
        height: 10px;
        padding: 10px 0;
        margin: 10px auto 10px auto;
        border: none;
        background-color: white;
        color: black;
        font-size: 14px;
    }
    
    .contact-form button {
        background-color: brown;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
    
    .contact-form button:hover {
        background-color: brown;
    } 
}

/*@media (max-width: 500px) {
    header {
        background-color: #ffffff;
        padding: 1px;
        position: fixed;
        top: 0;
        z-index: 1000;
        left: 0;
        width: 100%;
        height: 20%;
    }

    .background-header {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }
}*/


document.addEventListener("DOMContentLoaded", function () {
    const navLinks = document.querySelectorAll("nav a");

    navLinks.forEach((link) => {
        link.addEventListener("click", smoothScroll);
    });

    function smoothScroll(e) {
        e.preventDefault();

        const targetId = this.getAttribute("href");
        const targetElement = document.querySelector(targetId);

        window.scrollTo({
            top: targetElement.offsetTop - document.querySelector("header").offsetHeight,
            behavior: "smooth"
        });
    }
});
